.player{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;

}
.profile{
    display: flex;

}
.text{
    display: block;
    margin-left: 10px;
    margin-right: 20px;

}

.name{
    font-size: 8px;
}
.buttonClicked{
    color: var(--c-cancel-color);
}